@using Do_An_PTUDW.Models;
@model IList<Blog>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<style>
    .Content{
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* số dòng hiển thị */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .center {
        width : 100%;
    }
</style>

<main id="main" class="main">
    <h2>Danh Sách Blog</h2>
    <p>
        <a type="button" class="btn btn-success" asp-area="Admin" asp-controller="Post" asp-action="Create">
            <i class="bi bi-file-earmark-text me-1">Thêm mới Blog</i>
        </a>

    </p>
    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card recent-sales overflow-auto">
                    <table class="table table-borderless datatable">
                        <thead>
                            <tr>
                                <th class="col-1 text-center">STT</th>
                                <th class="col-3 text-center">Tiêu đề</th>
                                <th class="col-3 text-center">Tác giả</th>
                                @* <th class="col-1 text-center">Nội Dung</th>*@
                                <th class="col-1 text-center">Ẩn/Hiện</th>
                                <th class="col-1 text-center">Link Ảnh</th>
                                <th class="col-1 text-center">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 0;
                            }
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th class="text-center" scope="row">@(++i)</th>
                                    <td>
                                        <a asp-area="Admin" asp-controller="Post" asp-action="Details"
                                       asp-route-id="@item.IDBlog" class="text-primary">@item.Title</a>
                                    </td>
                                    <td class="text-center">@item.Author</td>
                                    <td class="text-center">@item.IsActive</td>
                                    @* <td class="center">
                                <a class="text-center Content" asp-area="Admin" asp-controller="Post" asp-action="Details"
                                asp-route-id="@item.IDBlog" class="text-primary">@item.Contents</a>
                                </td>*@
                                    <td class="text-center">
                                        <img src="~/@item.Images" style="width: 100px; height : 100px">
                                    </td>
                                    <td class="text-center">
                                        <a asp-area="Admin" asp-controller="Post" asp-action="Edit"
                                       asp-route-id="@item.IDBlog" class="btn btn-primary btn-sm"
                                       title="Sửa nội dung bài viết"><i class="bi bi-pencil"></i></a>

                                        <a asp-area="Admin" asp-controller="Post" asp-action="Delete"
                                       asp-route-id="@item.IDBlog" class="btn btn-danger btn-sm"
                                       title="Xóa thông tin bài viết"><i class="bi bi-trash"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </section>
</main>
                       